<%= link_to 'Create a new purchase order', new_grocery_purchase_order_path(@grocery) %>
<br>

<strong>Purchase Orders</strong>

<div id = "pagination_div">
<%= render 'shared/purchase_orders_pagination' %>
</div>

<%= link_to 'go back to grocery', grocery_path(@grocery) %>

<script type="text/javascript">

  var page_count = <%= @page_count %>;
  var page_count_str = "&page_count="+page_count;

  function refreshPagination() {
    //set click function
    $('.pagination a').click(function () {
        $('.pagination').html('Loading page...');
        $.get(this.href, null, null, 'script');
        return false;
    });
    //append page_count
    $('.pagination a').each(function() {
      var _href = $(this).attr("href");
      $(this).attr("href", _href + page_count_str);
    });

  }

  $(document).ajaxStop(function() {
    refreshPagination();
  });

  $(document).ready(function() {
    refreshPagination();
  });

</script>
