<% content_for :head do %>
	<%= javascript_include_tag 'following_groceries' %>
<% end %>

<% content_for :title do %>
	Following Groceries
<% end %>

<h3 id = "following-groceries-title">Following Groceries (<%= @groceries.count %>)</h3>

<% i = 1 %>
<% @groceries.each do |grocery| %>
  <%= render partial: 'groceries/following_grocery', locals: {grocery: grocery} %>
  <% if i == 5 %>
		<div class="floats-separator" style="clear:both;width:100%;height:5px;"></div>
		<% i = 0 %>
  <% end %>
  <% i += 1 %>
<% end %>