<% content_for :head do %>
  <%= javascript_include_tag 'users_news_feed' %>
<% end %>

<h3 id="news_title" data-title="News Feed">News Feed (<%= @reports.count %>)</h3>

<div id="report_feed_container">
  <%= render partial: 'reports/report_feed_pagination', locals: {reports: @reports} %>
</div>

<button id='more_feed_button' data-url="<%= user_news_feed_url(@user) %>">Load more news</button>
