<h1>New Grocery</h1>

<%= render partial: 'shared/grocery_form', locals: {grocery: @grocery, namespace: groceries_path, submit_message: 'Submit Grocery'} %>

<%= link_to 'Back', user_path(@logged_user) %>
