<h1> Grocery Informtion </h1>

<div class='big-img-container left-floatme'>
  <% if @grocery.has_image? %>
    <%= image_tag @grocery.grocery_image.grocery_image_url %>
  <% else %>
    <%= image_tag "Springfield_grocery_store.png" %>
  <% end %>
</div>  

<p>
  <strong>Name:</strong>
  <%= @grocery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @grocery.address %>
</p>


