/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/
 */


header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 black;
}

#header-table {
  float: right;
  border-spacing: 15px;
}

body {
  font-family: arial,sans-serif;
  background-color: #ddd;
  padding-top: 60px;
}

#page-wrap {
     max-width: 960px;
     min-width: 600px;
     margin: 0 auto;
     padding: 30px;
     border-radius: 15px;
     background-color: #fafafa;
}

/*ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}*/

.hide-element {
	display: none;
}

.highlight-div {
  outline: 1px solid blue;
}

.size-of-content {
	display: inline-block
}

#password_div {
	padding: 5px;
}

div.field {
  margin-bottom: 10px;
}

.stack-horizontal {
	display: table-cell;
}

#news-table {
  max-width: inherit;
}

.align-top {
  vertical-align: top;
}

.report-text-cell {
  word-wrap: break-word;
}

div.report-container {
  position: relative;
  background-color: #f0f0ff;
  padding: 10px;  /* argh, problemas con padding vertical por margin collapse... */
  border-radius: 5px;
}

span.link-spanner {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

table.report-admin {
  float: right;
  border-spacing: 10px;
}

clear-fix {
  display: table;
  clear: both;
}
