/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/
 */

.left-floatme {
  float: left;
}

.right-floatme {
  float: right;
}

.inline-blockme {
  display: inline-block;
}

.centered {
  margin: 0 auto;
}

.clear-both {
  clear: both;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

header.default-header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 black;
}

header.default-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #98bf21;
}

header.default-header li.left {
    float: left;
}
header.default-header li.right {
    float: right;
}

header.default-header a:link,
header.default-header a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

header.default-header a:hover, 
header.default-header a:active {
    background-color: #7A991A;
}

body {
  font-family: arial,sans-serif;
  background-color: #ddd;
  padding-top: 60px;
}

#page-wrap {
     max-width: 960px;
     min-width: 600px;
     margin: 0 auto;
     padding: 30px;
     border-radius: 15px;
     background-color: #fafafa;
     overflow: auto;
}

#page-wrap a:link {
  text-decoration: none;
}
#page-wrap a:hover {
  color: rgb(149,30,17);
  text-decoration: underline;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.hide-element {
	display: none;
}

.hidden {
	display: none;
}

.highlight-div {
  outline: 1px solid blue;
}

.size-of-content {
	display: inline-block
}

#password_div {
	padding: 5px;
}

div.field {
  margin-bottom: 10px;
}


.rating-fieldset {
  text-align: center;
  display: inline-block;
  height: 35px;
}
.rating-stars-container {
  display: inline-block;
}
.rating-stars-container input {
   position:fixed;
   top:-9999px;
   clip:rect(0,0,0,0);
}
.rating-stars-container label {
   float:right;
   font-size: 125%;
   font-weight: bold;
   color: #AFAFAF;;
}
.rating-stars-container label:before {
  content:"★";
}

.rating-stars-container.active label:hover,
.rating-stars-container.active label:hover ~ label {
  color: #f70;
}
.rating-stars-container input:checked ~ label {
   color:yellow;
}



.product-container {
  display: inline-block;
}

.product-container .image-and-rating {
  float: left;
  text-align: center;
}

.product-container img{
  width: 220px;
  height: 120px;
  position: relative;
}

.product-container .middle {
  margin: 0px 20px;
  max-width: 300px;
}

.product-container .right {
  margin: 40px 0px 20px 20px;
  max-width: 300px;
}

.product-container .rating-container {
  float: left;
}

.rating-bars-container {
  font-size: 11px;
}

.rating-bar {
  position:relative;
  top: 3px;
  height: 12px;
  width: 100px;
  background: #EFEFEF;
  border: 1px solid gray;
  margin: 1px;
  display: inline-block;
}
.rating-bar > span {
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  height: 100%;
  background-color: yellow;
  border: 1px solid orange;
}

.stars-container {
  position: relative;
  display: inline-block;
  width: 123px;
  height: 25px;
}

.stars-row {
  position: absolute;
  left: 0%;
  top: -10px;
  height: 200%;
  overflow: hidden;
}

.stars-row label{
  font-size: 30px;
}

.stars-row.back {
  color: #AFAFAF;
}

.stars-row.front {
  color: yellow;
}

#news-table {
  max-width: inherit;
}

.align-top {
  vertical-align: top;
}

.report-text-cell {
  word-wrap: break-word;
}

div.report-container {
  background-color: #f0f0ff;
  padding: 10px;  /* argh, problemas con padding vertical por margin collapse... */
  border-radius: 5px;
}

div.spanner-container {
  position: relative;
}

span.link-spanner {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

table.report-admin {
  float: right;
  border-spacing: 10px;
}

clear-fix {
  display: table;
  clear: both;
}

div.comment {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fffff0;
  font-size: 14px;
}
