#grocery-page-wrap {
	max-width: 960px;
	min-width: 600px;
	margin-left: 195px;
  margin-top: -13px;
	padding: 30px;
	background-color: #fafafa;
	overflow: auto;
}

#grocery_sidebar {
	padding: 5px;
  position: fixed;
  top: 55px;
  left: 3px;
  width: 185px;
  min-height: 300px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  text-align: center;
  word-wrap: break-word;
  font-size: 15px;
}

#grocery_sidebar > * {
	margin: 4px;
}

#grocery_sidebar img{
	width: 80px;
	height: 80px;
}

#grocery_sidebar a:link {
  text-decoration: none;
}
#grocery_sidebar a:hover {
  color: rgb(149,30,17);
  text-decoration: underline;
}

#grocery_sidebar fieldset {
  padding: 0px;
}

#grocery_sidebar ul {
  text-align: left;
}

#products_search {
	position: relative;
}

#products_search #search_div {
	display: inline-block;
}

#products_search #advanced_fields {
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid black;
}

#product_search .button-with-image {
  background-image: image-url("magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 50px;
  height: 50px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

#product_search .select2-container {
	width: 100%;
}

#product_search .button-with-image:hover {
	background-position: 0px -52px;
}

#product_search .button-with-image:active {
	background-position: 0px -104px;
}

.user-container {	
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
  background-color: beige;
  margin: 4px;
}

.user-container img {
	width: 40px;
	height: 40px;
}

.user-container span {
	margin-left: 2px;
	max-width: 100px;
	word-wrap: break-word;
}

.privilege-group {
	margin-top: 5px;
	margin-bottom: 5px,
}

.grocery-info {
	margin-left: 15px;
}

.grocery-product-container {
  max-width: 240px;
  text-align: center;
  word-wrap: break-word;
  padding: 4px;
  background-color: #FDFDFE;
  border: 1px solid #949494;
  border-radius: 2px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grocery-product-container img {
  width: 230px;
  height: 230px;
}
