<h2>News</h2>
<% if @privilege == :administrator %>
  <%= link_to 'Create a news', new_grocery_report_path(@grocery) %>
	<br>
	<br>
<% end %>

<div id = "reports_pagination">
	<%= render("reports_pagination") %>
</div>