<ul class="hmenu">
  <% if signed_in? %>
    <li>
      <%= link_to('Sign out', signout_path, :method => :delete) %>        
    </li>
  <% else %>
    <li>
      <%= link_to('Sign in', signin_path)  %>  
    </li>
     <li>
      <%= link_to('Sign up', signup_path)  %>  
    </li>
  <% end %>
</ul>