<header>  
  <!-- como mas puedo hacer que esten separados horizontalmente? -->
  <table id="header-table">
    <tr>

    <% if signed_in? %>
      <td><%= link_to(@logged_user.username, user_path(@logged_user)) %></td>
      <td><%= link_to('Sign out', signout_path, :method => :delete) %></td>
    <% else %>
      <td><%= link_to('Sign in', signin_path)  %></td>
      <td><%= link_to('Sign up', signup_path)  %></td>
    <% end %>

    </tr>
  </table>
</header>
